<section class="settings">
  <section class="profile_info grey">
    <h1>Profile Info</h1>
    <% @profiles.each do |profile| %>
    <section class="twelve columns profile">
      <%= link_to select_profile_path(profile) do %>
        <% if profile.image_url %>
          <%= image_tag asset_path(profile.image_url), :class => 'rounded' %>
        <% else %>
          <%= image_tag asset_path('avatars/avatar-blank.png'), :class => 'rounded' %>
        <% end %>
      <% end %>
      <h2 class='profile_name'>Current profile:
        <%= profile.name.capitalize %>
      </h2>
      <%= link_to 'New Profile', new_profile_path , :class => 'button' %>
    </section>
    <div class="clear">&nbsp;</div>
    <%= link_to 'Edit', edit_profile_path(profile), :class => 'button' %>
    <%= link_to 'Delete', profile, method: :delete, :class => 'button', data: { confirm: 'Do you want to delete this profile?' } %>
    <% end %>
  </section>
  <section>
    <h1>Profile Options</h1>
    <%= render 'index_form' %>
  </section>
  <section class="grey">
    <h1>Password Change</h1>
  </section>
  <section>
    <h1>Delete Profile</h1>
  </section>





