<h1>Choose a Profile</h1>

<% @profiles.each do |profile| %>
  <div class="profile">
    <%= link_to select_profile_path(profile) do %>
      <% if profile.image_url %>
        <%= image_tag asset_path(profile.image.to_s), :class => 'rounded' %>
      <% else %>
        <%= image_tag asset_path('avatars/avatar-blank.png'), :class => 'rounded' %>
      <% end %>
    <% end %>
    <div class='name xs-text-center'>
      <%= profile.name.capitalize %>
    </div>
    <div class="clear">&nbsp;</div>
    <%= link_to 'Edit', edit_profile_path(profile), :class => 'button' %>
    <%= link_to 'Delete', profile, method: :delete, :class => 'button', data: { confirm: 'Do you want to delete this profile?' } %>
    </div>
<% end %>


<div class='clear'>&nbsp;</div>

<%= link_to 'New Profile', new_profile_path , :class => 'button' %>
