<div id="calendar__container" class="tracker_form_wrapper clearfix">
  <div class="calendar__slideshow_nav">
    <div>
      <%= image_tag 'left_arrow.png', :class => 'calendar__show_slider_left' %>
    </div>
    <div>
      <%= image_tag 'right_arrow.png', :class => 'calendar__show_slider_right' %>
    </div>
  </div>

  <div class="calendar__hider">
    <div class="calendar__titles">
      <div class="calendar__spacer">
        <p class="calendar__title--header">SHOWS</p>
      </div>
      <% @profile.shows.each do |show| %>
        <%= link_to show_path(show) do %>
          <%= image_tag show.banner, :class => 'calendar__banner' %>
        <% end %>
      <% end %>
    </div>
    <section id="calendar__no-shows" class="calendar__no-shows-text">
      <h1>You have no shows selected. Select some shows to track from the Browse page.</h1>
    </section>
    <div id="calendar__slideshow">
      <div class='calendar__row clearfix'>
        <% (0..60).each do |day| %>
          <div class="head calendar__item">
            <%= (Date.today + day).strftime("%a %e") %>
          </div>
        <% end %>
      </div>

      <% @profile.shows.each do |show| %>
        <% episodes = show.episodes %>

        <div class='calendar__row clearfix'>
          <% (0..60).each do |day| %>
            <% if playing_on?(Date.today + day, episodes) %>
              <div class="time calendar__item full">
            <% else %>
              <div class="time calendar__item empty">
            <% end %>
              <%= show.air_time if playing_on?(Date.today + day, episodes) %>
            </div>
          <% end %>
        </div>

      <% end %>

    </div>
  </div>
</div>
