<div id="calendar_container" class="tracker_form_wrapper clearfix">
  <div class="slideshow_nav">
    <div>
      <%= image_tag 'slideshow-right.png', :class => 'show_slider_left' %>
    </div>
    <div>
      <%= image_tag 'slideshow-left.png', :class => 'show_slider_right' %>
    </div>
  </div>

  <div class="calendar_hider">
    <div class="calendar_titles">
      <div class="calendar_spacer">
        <p class="calendar__title--header">SHOWS</p>
      </div>
      <% @profile.shows.each do |show| %>
        <%= link_to show_path(show) do %>
          <%= image_tag show.banner, :class => 'calendar_banner' %>
        <% end %>
      <% end %>
    </div>

    <div id="calendar_slideshow">
      <div class='calendar_row clearfix'>
        <% (0..60).each do |day| %>
          <div class="head calendar_item">
            <%= (Date.today + day).strftime("%a %e") %>
          </div>
        <% end %>
      </div>

      <% @profile.shows.each do |show| %>
        <% episodes = show.episodes %>

        <div class='calendar_row clearfix'>
          <% (0..60).each do |day| %>
            <% if playing_on?(Date.today + day, episodes) %>
              <div class="time calendar_item full">
            <% else %>
              <div class="time calendar_item empty">
            <% end %>
              <%= show.air_time if playing_on?(Date.today + day, episodes) %>
            </div>
          <% end %>
        </div>

      <% end %>

    </div>
  </div>
</div>
