<div class="row" style="width:90%; margin:15px 5%;">
  <%= link_to edit_profile_path @profile do %>
    <%= image_tag asset_path(@profile.image_url), class: "profile_pic sm right rounded" %>
  <% end %>
  <h2>Your Shows</h2>
</div>
<div id="effect-1" class="effects profile_show_list clearfix">
  <div class="img">
    <% @profile.shows.each do |show| %>
    <div class="profile_show">
      <%= link_to show_path(show) do %>
        <%= image_tag show.poster %>
      <% end %>
      <div class="plusButton_hide">
              <a href="" class="expand">+</a>
              <a class="close-overlay">x</a>
          </div>
  </div>
      <strong>
      <%= link_to 'Remove Show', profile_remove_show_from_profile_path(@profile, show), :method => :delete %>
      <strong>
</div>
  <% end %>
  </div>

<div class="clear">&nbsp;</div>
<%= link_to 'Add Show', shows_path, :class => 'button' %>
<%= link_to 'Edit Profile', edit_profile_path(@profile), :class => 'button' %>


<a href=""></a>
