<section class="">
  <%= link_to edit_profile_path @profile do %>
    <%= image_tag asset_path(@profile.image_url), class: "profile_pic sm right rounded" %>
  <% end %>
  <h2>Your Shows</h2>
  </section>
<section class="clearfix thirteen columns">
    <% @profile.shows.each do |show| %>
    <section class="four columns">
      <%= link_to show_path(show), class: 'columns relative' do %>
        <%= image_tag show.poster, class: "fixer" %>
        <%= image_tag 'plusbutton.png', :class => 'plus_sign2' %>
        <%= link_to show_path(show), class: 'four columns' do %>
        <% end %>
      <% end %>
      <div>
<%= link_to 'X Remove Show', profile_remove_show_from_profile_path(@profile, show),:class => 'delete_show', :method => :delete %>
      </div>
    </section>
  <% end %>
<div class="clear">&nbsp;</div>




