<section class="contact-page clearfix">
  <div class="contact-page__section">
    <%= form_tag(send_mail_path) do %>
      <div class="">
        <%= label_tag 'name', 'Name' %>
        <%= text_field_tag 'name', nil, class: '', placeholder: 'Your Name' %>
      </div>
      <div class="">
        <%= label_tag 'email', 'Email' %>
        <%= email_field_tag 'email', nil, class: '', placeholder: 'Your Email Address' %>
      </div>
      <div class="">
        <%= label_tag 'message', 'Message' %>
        <%= text_area_tag 'message', nil, class: '', rows: 4, placeholder: 'Enter message here...' %>
      </div>
      <%= submit_tag 'Submit', class: '' %>
    <% end %>
  </div>
</div>
