<div class="banner banner-home">
  <%= image_tag("banner.jpg", :alt => "Track Your Favorite Tv Shows Banner") %>
</div>

<div class="container">
  <p>
    Rip the couch tail flick chuf puking eat the grass, eat sleep on your keyboard kittens hairball knock over the lamp. Knock over the lamp stretching meow biting claw judging you, shed everywhere hiss purr sleep in the sink stretching. Litter box toss the mousie sunbathe sleep in the sink hairball scratched, bat jump on the table I don't like that food sunbathe shed everywhere attack your ankles. Shed everywhere catnip fluffy fur purr, shed everywhere run eat the grass zzz stuck in a tree attack your ankles I don't like that food attack. Chuf I don't like that food sleep on your keyboard biting, stuck in a tree leap lick catnip eat fluffy fur. Meow toss the mousie rip the couch climb the curtains, kittens scratched kittens biting hairball jump attack run. Fluffy fur rip the couch claw sniff feed me, leap kittens scratched fluffy fur leap bat. Fluffy fur I don't like that food attack judging you catnip I don't like that food, chase the red dot tail flick sleep on your keyboard give me fish biting. 
  </p>
</div>

<div id="example_callouts">
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-sm-4 xs-text-center">
        <div class="example_co">
          <%= image_tag("example_co1.jpg", :alt => "Your calendar") %>
        </div>
      </div>

      <div class="col-xs-11 col-sm-4 xs-text-center">
        <div class="example_co">
          <%= image_tag("example_co2.jpg", :alt => "Your show list") %>
        </div>
      </div>

      <div class="col-xs-11 col-sm-4 xs-text-center">
        <div class="example_co">
          <%= image_tag("example_co3.jpg", :alt => "All the shows you could ever watch") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to "Customize your tv", shows_path, :class => 'button customize' %>
</div>

