<div class="container">
<h1>Listing Shows</h1>


<div class="show_slider clearfix ">  
  <div class="slideshow_nav">
    <div class="show_slider_left">&nbsp;</div>
    <div class="show_slider_right">&nbsp;</div>
  </div>

  <div class="shows_container">
    <div class="shows_mover">
      <% @shows.each do |show| %>
        <div class="show">
          <%= link_to show do %>
          <img src="<%= show.poster %>">
          <% end %>
          <%= form_for @profile do |f| %>
            <%= f.hidden_field :show_ids, value: @profile.show_ids << show.id %>
            <%= f.submit "Add to profile", :class => "center" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>
