  <section class="thirteen columns">
    <% @shows.each do |show| %>
        <%= link_to show_path(show) do %>
          <img class="four columns poster" src="<%= show.poster %>">
        <% end %>
        <% if @profile != nil %>
          <%= form_for @profile do |f| %>
            <%= f.hidden_field :show_ids, value: @profile.show_ids << show.id %>
            <%= f.submit "Add to profile", :class => "center" %>
          <% end %>
        <% end %>
    <% end %>
  </section>
