<h1>Listing Shows</h1>

<table>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><img src="<%= show.poster %>"></td>
        <%= form_for @profile do |f| %>
          <%= f.hidden_field :show_ids, value: @profile.show_ids << show.id %>
          <%= f.submit "Add show to my profile" %>
        <% end %>
        <td><%= link_to 'Show', show %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <%= form_tag show_search_path, :method => 'get' do %>
      <%= text_field_tag :Search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
