  <section class="thirteen columns">
    <% @shows.each do |show| %>
        <%# link_to show_path(show), class: 'poster-link four columns' do %>
          <!-- <img class="poster" src="<%= show.poster %>"> -->
          <%# image_tag 'plusbutton.png', :class => 'plus_sign' %>
        <%# end %>
        <%= link_to show_path(show), class: 'poster-link four columns' do %>
          <img class="poster" src="<%= show.poster %>">
          <%= image_tag 'plusbutton.png', :class => 'plus_sign' %>
        <% end %>
        <% if @profile != nil %>
          <%= form_for @profile, remote: true do |f| %>
            <%= f.hidden_field :show_ids, value: @profile.show_ids << show.id %>
            <%= f.submit "Add to profile", :class => "center" %>
          <% end %>
        <% end %>
    <% end %>
  </section>
