<section class="search_section">
<% if @shows.empty? %>
  <h1>No Search Results. Please try again.</h1>
<% else %>



  <% @shows.each do |show| %>
    <div class="search_show">
      <% if Show.exists?(:name => show["SeriesName"]) %>
          <%= link_to show["SeriesName"], show_path(Show.where(:name => show["SeriesName"]).first.id), class: "search_title" %>

          <%= image_tag "http://thetvdb.com/banners/" + show["banner"], class: "search_banner" %>
        <% else %>
          <%= link_to show["SeriesName"], shows_path(series_id: show["seriesid"]), :method => :post, class: "search_title" %>
        <% end %>

      <p>
        <%= show["Overview"] %>
      </p>

    </div>
  <% end %>

<% end %>

<%= link_to "Back", :back %>
</section>
