<section class="grey">


<img src="<%= @show.poster %>" class="one-third column">
<section class="show_info eight columns">
<h1 class="poster_name">
  <%= @show.name %>
</h1>
<p>
  <strong>Status:</strong>
  <%= @show.status %>
</p>

<% if @show.air_time %>
  <p>
    <strong>Air time:</strong>
    <%= @show.air_time %>
  </p>
  <p>
    <strong>Next episode:</strong>
    <%= current_next_episode(@show.episodes) %>
  </p>
<% end %>

<p>
  <strong>Overview:</strong>
  <%= @show.overview %>
</p>

<% if @profile %>
  <%= form_for @profile, remote: true, html: { id: "show-show-form"} do |f| %>
    <%= f.hidden_field :show_ids, value: @profile.show_ids << @show.id %>
    <%= f.submit "Track Show" %>
  <% end %>
<% else %>
  <%= button_to "Track Show", new_user_registration_path, :method => :get  %>
<% end %>
</section>
<div class='clear'>
</section>
