<!DOCTYPE html>
<html>
<head>
  <title>TvTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <header>
    <div class="left-side"> 
      <%= link_to root_path, :class => 'logo-container' do %>
        <%= image_tag 'logo.png', :class => 'logo' %>
      <% end %>
        
      <% if @current_profile %>
        <%= render 'layouts/header' %>
      <% end %>
    </div>
    <%= render 'layouts/sign_in' %>
  </header>


<%= yield %>


</body>
</html>
