<!DOCTYPE html>
<html>
<head>
  <title>TvTracker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, class: "" + " "+(current_page?(root_url) ? "home" : "" ) do %>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger">MENU</label>
      <ul class="navigation">
        <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path %></li>
        <li class="nav-item"><%= link_to "Browse", shows_path %></li>
        <li class="nav-item">
          <% if @profile != nil %>
            <%= link_to "My Shows", profile_path(@current_profile) %>
          <% else %>
            <%= link_to "My Shows", new_user_registration_path %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if @profile != nil %>
            <%= link_to "Settings", profile_shows_path(@current_profile) %>
          <% else %>
            <%= link_to "Settings", new_user_registration_path %>
          <% end %>
        </li>
        <li class="nav-item"><a href="#">Contact</a></li>
      </ul>
  <div class="site-wrap clearfix container">
    <header class= "twelve columns newbanner">
        <%= link_to root_path, class: '' do %>
          <%= image_tag 'TvTrackerLogo.png', :class => 'logo' %>
        <% end %>
      <section class="search-bar">
        <div class="search-bar__wrapper">
          <label class="search-bar__text-box--label" labelFor="search-bar__text-box">SEARCH</label>
          <input type="text" class="search-bar__text-box--input" id="search-bar__text-box" placeholder="Enter search term...">
        </div>
      </section>
    </header>
    <main class="block">

      <%= content_tag :section, class: "clearfix" do %>
        <%= yield %>
      <% end %>
    </main>
        <%= render 'layouts/footer' %>
      <% end %>
  </div>
</body>
</html>
