<!DOCTYPE html>
<html>
<head>
  <title>TvTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap css and js -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <header>
    <div class="row">
      <%= link_to root_path, :class => 'logo-container' do %>
        <%= image_tag 'logo.png', :class => 'logo col-xs-12 col-sm-2 col-sm-offset-1 block' %>
      <% end %>
        
      <% if @current_profile %>
        <%= render 'layouts/header' %>
      <% end %>

      <div class="sign_in_nav col-xs-12 col-sm-2">
        <%= render 'layouts/sign_in' %>
      </div>
    </div>
  </header>


<%= yield %>


</body>
</html>
