<!DOCTYPE html>
<html>
<head>
  <title>TvTracker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
    <nav class="hidden">
      <ul class="navigation">
        <li class="nav-item"><a href="#">Browse</a></li>
        <li class="nav-item"><a href="#">Calendar</a></li>
        <li class="nav-item"><a href="#">Settings</a></li>
        <li class="nav-item"><a href="#">Help</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger">MENU</label>
  <div class="site-wrap"
    <%= content_tag :body, class: "" + (current_page?(root_url) ? "home" : "" ) do %>
    <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    <% end %>
    <header class= "twelve columns newbanner">
      <div>
        <%= link_to root_path, class: 'logo-container' do %>
          <%= image_tag 'TvTrackerLogo.png', :class => 'logo' %>
        <% end %>
      </div>
    </header>
    <div>
      <%= content_tag :div, class: "main" do %>
        <%= yield %>
      <% end %>
        <%= render 'layouts/footer' %>
      <% end %>
    </div>
</body
</html>
