<!DOCTYPE html>
<html>
<head>
  <title>TvTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <header>
    <nav class="sign_in_nav">
      <%= link_to "Sign Up", new_user_registration_path %>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <%= link_to "Preferences", edit_user_registration_path %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
    </nav>
  </header>

<%= yield %>

</body>
</html>
